.hero--section {
    display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 133.333px 85.333px 133.333px;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
  background-color: var(--bg-shade);
  }
  
  .hero--section--content--box {
    max-width: 600px;
  }
  
  .hero--section--content {
    max-width: 500px;
  }
  
  .section--title {
    font-size: 18px;
    color: #3498db; 
  }
  
  .hero--section--title {
    font-size: 40px;
    margin: 20px 0;
    line-height: 1.2;
  }
  
  .hero--section-title--color {
    color: #e74c3c; 
  }
  
  .hero--section-description {
    font-size: 16px;
    color: #777; 
    margin-bottom: 30px;
  }
  
  .btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    background-color: #3498db; 
    color: #fff; 
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: #2980b9; 
  }
  
  .hero--section--img img {
    width: 100%;
    max-width: 400px;
    height: auto;
    margin-left: auto;
  }
  
  /* Responsive Styles */
  @media (max-width: 768px) {
    .hero--section {
      flex-direction: column;
      text-align: center;
    }
  
    .hero--section--img {
      margin-top: 30px;
    }
  }

